<template>
    <div class="pb-5" style="min-height:100vh;background:#ddd">
        <nav style="min-width:90%; border-top-right-radius: 20px">
            <div
                class="headerWrapper py-4 px-4"
                style="height:200px;background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
            >
                <h3
                    class="text-center mt-2"
                    style="color:#e7e7e7;font-family:'Varela Round', sans-serif;letter-spacing: 4px; font-weight:900;"
                >
                    ES MONEY
                </h3>
            </div>
        </nav>
        <div class="d-flex justify-content-center" style="margin-top:-110px">
            <div
                class="shadow myRounded p-5"
                style="padding: 35px;background: #E7E7E7;width: 90%; max-width:400px"
            >
                <h4 class="text-center" style="color:#3B82F6;">
                    Activation
                </h4>

                <div class="mt-3" v-if="status && getMsg == ''">
                    <form @submit.prevent="Activate">
                        <div class="input-group m-0">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="SchoolBank account number"
                                aria-label="SchoolBank account number"
                                style="border-right:none;background:#f2f2f2"
                                v-model="noRek"
                            />
                            <div class="input-group-append">
                                <span
                                    class="input-group-text"
                                    id="basic-addon2"
                                    style="border-left:none; background:#f2f2f2"
                                >
                                    <i
                                        class="far fa-address-card"
                                        style="color:#3B82F6;"
                                    ></i>
                                </span>
                            </div>
                        </div>

                        <button
                            type="button"
                            style="font-size:12px;border:none;background:transparent; color:#007BFD;"
                            @click="status = false"
                        >
                            Don't have a SchoolBank account number ?
                        </button>
                        <button
                            type="submit"
                            class="btn submitBtn btn-block mt-3"
                        >
                            <span v-if="!load">
                                Submit
                            </span>
                            <span v-if="load">
                                <img
                                    src="/loading.gif"
                                    alt=""
                                    style="width:20%"
                                />
                            </span>
                        </button>
                        <div class="d-flex justify-content-center">
                            <p class="m-0" style="fonst-size:12px">or</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <router-link to="/login" style="font-size:14px"
                                >Login</router-link
                            >
                        </div>
                    </form>
                </div>
                <div v-if="!status && getMsg == ''" class="text-center">
                    <p class=" text-center font-weight-bold" style="color:#aaa">
                        Please come to Schoolbank Center to create the
                        Schoolbank Account.
                    </p>
                    <button
                        class="submitBtn rounded-pill px-5 py-2"
                        style="border:none"
                        @click="status = true"
                    >
                        Close
                    </button>
                </div>
                <div v-if="getMsg != ''" class="text-center">
                    <p class=" text-center font-weight-bold" style="color:#aaa">
                        {{ getMsg }}
                    </p>
                    <button
                        class="submitBtn rounded-pill px-5 py-2"
                        style="border:none"
                        @click="clearnClose"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
        <div class="pb-5"></div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            status: true,
            noRek: "",
            load: false
        };
    },
    methods: {
        Activate() {
            this.load = true;
            this.$store.dispatch("user/activation", this.noRek);
        },
        clearnClose() {
            this.load = false;
            this.noRek = "";
            this.$store.commit("user/clearMsg");
        }
    },
    computed: {
        getMsg() {
            return this.$store.state.user.activationMsg;
        }
    }
};
</script>

<style></style>
