<template>
    <div
        class="pb-5"
        style="background: #ddd; min-height: 100vh; border-top-right-radius: 20px"
    >
        <nav style="min-width: 90%; border-top-right-radius: 20px">
            <div
                class="headerWrapper py-4 px-4"
                style="height:150px;background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
            >
                <h3
                    class="text-center mt-2"
                    style="color: #e7e7e7; font-family: 'Varela Round', sans-serif;letter-spacing: 4px; font-weight:900;"
                >
                    ES MONEY
                </h3>
            </div>
        </nav>
        <main class="container pb-5" style="margin-top: -60px">
            <div class="profileWrapper px-3" style="width: 100%">
                <router-link to="/profile" class="text-decoration-none">
                    <div
                        class="profile myRounded p-3 myShadow d-flex justify-content-start"
                        style="background: #e7e7e7"
                    >
                        <img
                            src="/default.png"
                            class="rounded-circle d-inline"
                            style="width: min(15vw, 100px); height: min(15vw, 100px)"
                        />
                        <div
                            class="ml-2 text-truncate"
                            style="color: #aaa; padding-top: min(1vw, 20px)"
                        >
                            <h4
                                style="color: #4a89f3; font-size: min(7vw, 40px)"
                                class="m-0 text-truncate"
                            >
                                {{ getUser.username }}
                            </h4>
                            <span
                                style="color: #aaa; font-size: min(3.5vw, 18px)"
                                class="font-weight-bold text-truncate"
                            >
                                {{ getUser.esm_number }}
                            </span>
                        </div>
                    </div>
                </router-link>
                <div
                    class="money p-3 myRounded myShadow my-3 clearfix"
                    style="background: rgb(56, 112, 235);background: linear-gradient(70deg,rgba(56, 112, 235, 1) 0%,rgba(75, 139, 244, 1) 100%);"
                >
                    <span
                        class="pr-3 font-weight-bold d-inline text-truncate"
                        style="color: #eee; font-size: min(4vw, 18px)"
                    >
                        Rp {{ rupiahFormater(getUser.balance) }}
                    </span>
                    <button
                        class="font-weight-bold d-inline rounded-circle float-right fas fa-plus-circle"
                        style="background: transparent;color: #e7e7e7;border: none;font-size: min(7vw, 25px);outline: none;"
                        data-toggle="modal"
                        data-target="#exampleModal"
                    ></button>
                </div>
                <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                >
                    <div
                        class="modal-dialog modal-dialog-centered d-flex justify-content-center"
                        style="padding: 0 15px"
                    >
                        <div
                            class="modal-content p-4"
                            style="background: #e7e7e7; width: 90%"
                        >
                            <h5
                                class="modal-title font-weight-bold text-center mb-4"
                                id="exampleModalLabel"
                                style="color: #4a89f3"
                            >
                                Charge ESM
                            </h5>

                            <div v-if="getSchoolbank == 0">
                                <h6
                                    class="font-weight-bold text-center text-center mt-4 mb-5"
                                    style="color:#a1a1a1"
                                >
                                    Your Schoolbank Balance is Rp 0. Please
                                    deposit at Schoolbank Center first
                                </h6>
                                <div class="d-flex justify-content-center">
                                    <button
                                        type="button"
                                        class="btn btn-primary"
                                        data-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                </div>
                            </div>
                            <div v-if="getSchoolbank != 0">
                                <div class="d-flex justify-content-between">
                                    <span
                                        style="color: #4a89f3"
                                        class="text-center font-weight-bold"
                                    >
                                        Schoolbank
                                    </span>
                                    <span
                                        style="color: #a1a1a1"
                                        class="text-center font-weight-bold"
                                    >
                                        Rp {{ rupiahFormater(getSchoolbank) }}
                                    </span>
                                </div>
                                <div
                                    class="form-group pt-3 mt-2 mb-0"
                                    style="border-top: 1px solid #ccc"
                                >
                                    <label
                                        for="exampleInputPassword1"
                                        style="color: #4a89f3"
                                        class="font-weight-bold"
                                        >Amount</label
                                    >
                                    <div class="input-group">
                                        <input
                                            type="number"
                                            class="form-control border"
                                            id="chargeField"
                                            style="padding-left: 33px;background: #f2f2f2;color: #495057;"
                                            v-model="amount"
                                            @change="amountCheck"
                                            @keyup="amountCheck"
                                            @keydown="amountCheck"
                                        />
                                    </div>
                                    <span
                                        class="position-absolute"
                                        style="margin-top: -31px;margin-left: 10px;z-index: 10;color: #495057;"
                                        >Rp
                                    </span>
                                    <p
                                        class="text-danger"
                                        v-if="
                                            parseInt(this.totalCharge) >
                                                parseInt(this.getSchoolbank)
                                        "
                                    >
                                        Your Balance is not enough
                                    </p>
                                </div>
                                <div
                                    class="d-flex justify-content-between my-3"
                                >
                                    <span
                                        style="color: #4a89f3"
                                        class="text-center font-weight-bold"
                                    >
                                        Tax(2%)
                                    </span>
                                    <span
                                        style="color: #a1a1a1"
                                        class="text-center font-weight-bold"
                                    >
                                        Rp {{ rupiahFormater(tax) }}
                                    </span>
                                </div>
                                <div
                                    class="d-flex justify-content-between my-3"
                                >
                                    <span
                                        style="color: #4a89f3"
                                        class="text-center font-weight-bold"
                                    >
                                        Total
                                    </span>
                                    <span
                                        style="color: #a1a1a1"
                                        class="text-center font-weight-bold"
                                    >
                                        Rp {{ rupiahFormater(totalCharge) }}
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between m-0">
                                    <button
                                        type="button"
                                        class="btn btn-danger"
                                        data-dismiss="modal"
                                    >
                                        Cancel
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-primary"
                                        @click="charge"
                                        data-dismiss="modal"
                                        v-if="
                                            amount != 0 &&
                                                amount != '' &&
                                                parseInt(this.totalCharge) <=
                                                    parseInt(this.getSchoolbank)
                                        "
                                    >
                                        Transfer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menuWrapper d-flex justify-content-center">
                <div class="d-flex justify-content-between" style="width: 90%">
                    <router-link
                        to="/transfer"
                        class="text-decoration-none d-inline py-2"
                        style="width: min(25vw, 120px)"
                    >
                        <div
                            class="pt-3 pb-2 px-1 myShadow myRounded font-weight-bold text-center"
                            style="background: #e7e7e7;border: none;color: #4a89f3;width: 100%;"
                        >
                            <i
                                class="fas fa-share-square d-block text-center"
                                style="font-size: max(min(8vw, 40px), 28px); padding-left: 7px"
                            ></i>
                            <span
                                class="text-center"
                                style="font-size: max(min(4vw, 20px), 14px)"
                            >
                                Transfer
                            </span>
                        </div>
                    </router-link>
                    <router-link
                        to="/pay"
                        class="text-decoration-none d-inline py-2"
                        style="width: min(25vw, 120px)"
                    >
                        <div
                            class="pt-3 pb-2 px-1 myShadow myRounded font-weight-bold text-center"
                            style="background: #e7e7e7;border: none;color: #4a89f3;width: 100%; "
                        >
                            <i
                                class="fas fa-expand d-block text-center"
                                style="font-size: max(min(8vw, 40px), 28px)"
                            ></i>
                            <span
                                class="text-center"
                                style="font-size: max(min(4vw, 20px), 14px)"
                            >
                                Pay
                            </span>
                        </div>
                    </router-link>
                    <router-link
                        to="/payCode"
                        class="text-decoration-none d-inline py-2"
                        style="width: min(25vw, 120px)"
                    >
                        <div
                            class="pt-3 pb-2 px-1 myShadow myRounded font-weight-bold text-center"
                            style="background: #e7e7e7;border: none;color: #4a89f3;width: 100%;"
                        >
                            <i
                                class="fas fa-qrcode d-block text-center"
                                style="font-size: max(min(8vw, 40px), 28px)"
                            ></i>
                            <span
                                class="text-center"
                                style="font-size: max(min(4vw, 20px), 14px)"
                            >
                                Pay Code
                            </span>
                        </div>
                    </router-link>
                </div>
            </div>
            <div class="m-3 myRounded myShadow" style="background: #e7e7e7">
                <router-link
                    to="/transactionHistory"
                    class="text-decoration-none"
                >
                    <div
                        class="p-3 m-0"
                        style="background: rgb(56, 112, 235);background: linear-gradient(70deg,rgba(56, 112, 235, 1) 0%,rgba(75, 139, 244, 1) 100%);border-top-left-radius: 15px;border-top-right-radius: 15px;border-bottom: 1px solid #aaa;"
                    >
                        <h6 class="m-0" style="color: #eee">
                            Transaction History
                        </h6>
                    </div>
                </router-link>
                <div class="p-3">
                    <div v-if="checkHistory">
                        <div v-for="history in getHistory" :key="history.id">
                            <router-link
                                :to="{
                                    name: 'transaction',
                                    params: { id: history.id }
                                }"
                                class="text-decoration-none"
                            >
                                <div
                                    class="p-2 d-flex justify-content-between"
                                    style="border-top:1px solid #ccc; border-bottom:1px solid #ccc"
                                >
                                    <div>
                                        <h5
                                            style="color:#4A89F3; margin-bottom:5px"
                                        >
                                            <span
                                                v-if="
                                                    history.status === 'charge'
                                                "
                                            >
                                                Charge
                                            </span>
                                            <span
                                                v-if="history.status === 'pay'"
                                            >
                                                Pay
                                            </span>
                                            <span
                                                v-if="
                                                    history.status ===
                                                        'transfer'
                                                "
                                            >
                                                Transfer
                                            </span>
                                        </h5>
                                        <p
                                            class="m-0 text-truncate"
                                            style="color:#a1a1a1; font-size:14px"
                                        >
                                            <span
                                                v-if="
                                                    history.status === 'charge'
                                                "
                                            >
                                                From Schoolbank
                                            </span>
                                            <span
                                                v-if="
                                                    history.status === 'pay' ||
                                                        history.status ===
                                                            'transfer'
                                                "
                                            >
                                                <span
                                                    v-if="
                                                        history.from ==
                                                            getUser.username
                                                    "
                                                >
                                                    To {{ history.to }}
                                                </span>
                                                <span
                                                    v-if="
                                                        history.to ==
                                                            getUser.username
                                                    "
                                                >
                                                    From {{ history.from }}
                                                </span>
                                            </span>
                                        </p>
                                        <p
                                            class="m-0"
                                            style="color:#a1a1a1; font-size:14px"
                                        >
                                            {{ getDate(history.created_at) }}
                                        </p>
                                    </div>
                                    <div class="align-self-center">
                                        <h6
                                            class="float-right m-0"
                                            style="color:#4A89F3"
                                        >
                                            Rp
                                            {{ rupiahFormater(history.amount) }}
                                        </h6>
                                        <br />
                                        <p
                                            class="m-0 float-right"
                                            style="color: rgb(161, 161, 161); font-size: 14px;"
                                        >
                                            Tax : Rp {{ rupiahFormater(history.tax) }}
                                        </p>
                                    </div>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div
                        v-if="!checkHistory"
                        class="text-center py-4 font-weight-bold"
                        style="font-size: max(min(3vw, 20px), 12px); color:#4a89f3"
                    >
                        Nothing Transaction
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
export default {
    data() {
        return {
            amount: 0
        };
    },
    methods: {
        amountCheck() {
            if (parseInt(this.totalCharge) > parseInt(this.getSchoolbank)) {
                $("#chargeField").removeClass("border-primary");
                $("#chargeField").addClass("border-danger");
            } else {
                $("#chargeField").removeClass("border-danger");
                $("#chargeField").addClass("border-primary");
            }
        },
        getDate(value = "0") {
            let dt = value.slice(0, 10).split("-");
            return `${dt[2]}-${dt[1]}-${dt[0]}`;
        },
        rupiahFormater(value = "0") {
            return parseInt(value).toLocaleString();
        },
        charge() {
            if (
                this.amount != 0 &&
                this.amount != "" &&
                parseInt(this.totalCharge) <= parseInt(this.getSchoolbank)
            ) {
                this.$store.dispatch("home/charge", this.amount);
            }
        }
    },
    computed: {
        getHistory() {
            return this.$store.state.home.history.slice(0, 3);
        },
        getUser() {
            return this.$store.state.home.user;
        },
        totalCharge() {
            if (this.amount == "") {
                return 0;
            }
            return this.tax + parseInt(this.amount);
        },
        tax() {
            if (this.amount == "") {
                return 0;
            }
            return parseInt(this.amount) * 0.02;
        },
        getSchoolbank() {
            return this.$store.state.home.schoolbank;
        },
        checkHistory() {
            if (this.$store.state.home.history.length == 0) {
                return false;
            } else {
                return true;
            }
        }
    },
    mounted() {
        this.$store.dispatch("home/getUser");
        this.$store.state.home.payTarget = { username: null };
        this.$store.state.home.payStatus = null;
    }
};
</script>

<style></style>
