<template>
    <div class="pb-5" style="min-height: 100vh; background: #ddd">
        <nav style="min-width: 90%; border-top-right-radius: 20px">
            <div
                class="headerWrapper py-4 px-4"
                style="height: 200px;background: rgb(56, 112, 235);background: linear-gradient(70deg,rgba(56, 112, 235, 1) 0%,rgba(75, 139, 244, 1) 100%);"
            >
                <h3
                    class="text-center mt-2"
                    style="color: #e7e7e7; font-family: 'Varela Round', sans-serif;letter-spacing: 4px; font-weight:900;"
                >
                    ES MONEY
                </h3>
            </div>
        </nav>
        <div class="d-flex justify-content-center" style="margin-top: -110px">
            <div
                class="shadow myRounded px-5 pb-5 pt-4"
                style="padding: 35px; background: #e7e7e7; width: 90%; max-width: 400px"
            >
                <h3 class="text-center mb-3" style="color: #3b82f6">Login</h3>
                <div
                    class="rounded border border-danger p-1 mb-3 text-danger text-center"
                    v-if="getStatus != true && getStatus != null"
                >
                    <p class="m-0">
                        {{ getStatus }}
                    </p>
                </div>
                <div
                    class="rounded border border-success p-1 mb-3 text-success text-center"
                    v-if="getStatus == true && getStatus != null"
                >
                    <p class="m-0">
                        Login Success
                    </p>
                </div>
                <form @submit.prevent="login">
                    <div class="input-group mb-3">
                        <input
                            type="text"
                            class="form-control emailField"
                            placeholder="Email"
                            aria-label="Email"
                            v-model="form.email"
                            style="border-right: none; background: #f2f2f2"
                            @keyup="checkInput"
                            @keydown="checkInput"
                            @keypress="checkInput"
                        />
                        <div class="input-group-append">
                            <span
                                class="input-group-text"
                                id="basic-addon2"
                                style="border-left: none; background: #f2f2f2"
                            >
                                <i
                                    class="far fa-user"
                                    style="color: #3b82f6"
                                ></i>
                            </span>
                        </div>
                    </div>
                    <div class="input-group m-0">
                        <input
                            type="password"
                            class="form-control passField"
                            placeholder="Password"
                            aria-label="Password"
                            v-model="form.password"
                            @keyup="checkInput"
                            @keydown="checkInput"
                            @keypress="checkInput"
                            style="border-right: none; background: #f2f2f2"
                        />
                        <div class="input-group-append">
                            <span
                                class="input-group-text"
                                id="basic-addon2"
                                style="border-left: none; background: #f2f2f2"
                            >
                                <button
                                    type="button"
                                    @click="passVisibility"
                                    class="far fa-eye-slash passIcon p-0"
                                    style="background: transparent; border: none; color: #3b82f6"
                                ></button>
                            </span>
                        </div>
                    </div>
                    <a href="" style="font-size: 12px"
                        >Forgot Your Password ?</a
                    >
                    <button
                        type="submit"
                        class="btn submitBtn btn-block mt-3 disabled"
                    >
                        <span v-if="!load">
                            Submit
                        </span>
                        <span v-if="load">
                            <img src="/loading.gif" alt="" style="width:20%" />
                        </span>
                    </button>
                    <div class="d-flex justify-content-center">
                        <p class="m-0" style="fonst-size: 12px">or</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <router-link to="/activate" style="font-size: 14px" class="text-center"
                            >Don't have an account? Activate now</router-link
                        >
                    </div>
                </form>
            </div>
        </div>
        <div class="pb-5"></div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                email: "",
                password: ""
            },
            load: false
        };
    },
    methods: {
        passVisibility() {
            if (
                document
                    .getElementsByClassName("passIcon")[0]
                    .classList.contains("fa-eye-slash")
            ) {
                document
                    .getElementsByClassName("passIcon")[0]
                    .classList.remove("fa-eye-slash");
                document
                    .getElementsByClassName("passIcon")[0]
                    .classList.add("fa-eye");
                document.getElementsByClassName("passField")[0].type = "text";
            } else {
                document
                    .getElementsByClassName("passIcon")[0]
                    .classList.remove("fa-eye");
                document
                    .getElementsByClassName("passIcon")[0]
                    .classList.add("fa-eye-slash");
                document.getElementsByClassName("passField")[0].type =
                    "password";
            }
        },
        login() {
            if (this.form.email != "" && this.form.password != "") {
                this.load = true;
                this.$store.commit("user/clearStatus");
                this.$store.dispatch("user/loginUser", this.form);
                setTimeout(() => {
                    this.form.password = "";
                    this.load = false;
                    $(".submitBtn").addClass("disabled");
                }, 1000);
            }
        },
        checkInput() {
            if (this.form.email != "" && this.form.password != "") {
                $(".submitBtn").removeClass("disabled");
            } else {
                $(".submitBtn").addClass("disabled");
            }
        }
    },
    computed: {
        getStatus() {
            return this.$store.state.user.status;
        }
    }
};
</script>

<style>
.passIcon:active,
.passIcon:focus {
    outline: none;
}
</style>
