<template>
    <div class="d-flex justify-content-center">
        <div
            class="px-4 py-3 bg-danger rounded-pill position-fixed shadow"
            style="width:90%; z-index:10; bottom:20px;background: rgb(238,238,238);background: linear-gradient(45deg, rgba(238,238,238,1) 22%, rgba(245,245,245,1) 100%);"
            v-if="
                this.$route.name != 'login' &&
                    this.$route.name != 'activate' &&
                    this.$route.name != 'registration' &&
                    this.$route.name != 'photoEditor' &&
                    this.$route.name != 'notFound'
            "
        >
            <div class="row">
                <div class="col text-center">
                    <router-link to="/transactionHistory" class="p-3">
                        <div
                            class="fas fa-history"
                            style="color:#4B8BF4;"
                            v-if="
                                this.$route.path == '/transactionHistory'||
                                    this.$route.name == 'transaction'
                            "
                        ></div>
                        <div
                            class="fas fa-history"
                            style="color:#a1a1a1;"
                            v-if="
                                this.$route.path != '/transactionHistory' &&
                                    this.$route.name != 'transaction'
                            "
                        ></div>
                    </router-link>
                </div>
                <div class="col text-center">
                    <router-link to="/" class="p-3">
                        <div
                            class="fas fa-home"
                            style="color:#4B8BF4;"
                            v-if="this.$route.path == '/'"
                        ></div>
                        <div
                            class="fas fa-home"
                            style="color:#a1a1a1;"
                            v-if="this.$route.path != '/'"
                        ></div>
                    </router-link>
                </div>
                <div class="col text-center">
                    <router-link to="/profile" class="p-3">
                        <div
                            class="fas fa-user"
                            style="color:#4B8BF4;"
                            v-if="
                                this.$route.path == '/profile' ||
                                    this.$route.path == '/setting'
                            "
                        ></div>
                        <div
                            class="fas fa-user"
                            style="color:#a1a1a1;"
                            v-if="
                                this.$route.path != '/profile' &&
                                    this.$route.path != '/setting'
                            "
                        ></div>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
