<template>
    <div class="pb-5" style="min-height:100vh;background:#ddd">
        <nav style="min-width:90%; border-top-right-radius: 20px">
            <div
                class="headerWrapper py-4 px-4"
                style="height:250px;background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
            >
                <h1
                    class="text-center mt-4"
                    style="color:#e7e7e7;font-family:'Varela Round', sans-serif;letter-spacing: 4px; font-weight:900;"
                >
                    ERROR 404
                </h1>
            </div>
        </nav>
        <div class="d-flex justify-content-center" style="margin-top:-110px">
            <div
                class="shadow myRounded p-5 text-center"
                style="padding: 35px;background: #E7E7E7;width: 90%; max-width:400px"
            >
                <h4 class="text-center font-weight-bold" style="color:#3B82F6;">
                    Sorry this page isn't available.
                </h4>
                <br />
                <span class="text-center font-weight-bold" style="color:#a1a1a1"
                    >You may have mistyped the address or the page may have
                    moved.</span
                >
                <br />
                <br />
                <div class="d-flex justify-content-center ">
                    <router-link
                        to="/"
                        class="py-3 px-5 mt-4 rounded-pill myShadow text-decoration-none font-weight-bold"
                        style="color:#E7E7E7; background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
                    >
                        <div class="px-5">
                            Home
                        </div>
                    </router-link>
                </div>
            </div>
        </div>
        <div class="pb-5"></div>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
