<template>
    <div
        style="background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%); overflow-y:hidden; height:100%"
    >
        <div v-if="status">
            <div
                class="d-flex justify-content-center position-absolute"
                style="z-index:20; background:#ddd; width:100vw; height:100vh"
            >
                <div
                    class="p-4 myShadow myRounded"
                    style="background:#eee; margin-top:70px; width:90%; max-width:400px; height:450px"
                >
                    <div class="d-flex justify-content-center">
                        <img
                            src="/default.png"
                            class="rounded-circle"
                            style="width:70px"
                        />
                    </div>
                    <div class="text-center">
                        <span style="color:#4A89F3;" class="font-weight-bold">
                            {{ getpayTarget.username }}
                        </span>
                        <br />
                        <span style="color:#a1a1a1;" class="font-weight-bold">
                            {{ getpayTarget.name }}
                        </span>
                    </div>
                    <hr />
                    <div v-if="getUser.balance == 0">
                        <h6
                            class="font-weight-bold text-center text-center mt-4 mb-5"
                            style="color:#a1a1a1"
                        >
                            Your Balance is Rp 0. Please Charge first.
                        </h6>
                        <div class="d-flex justify-content-center">
                            <router-link to="/" class="btn btn-primary">
                                Cancel
                            </router-link>
                        </div>
                    </div>
                    <div v-if="getUser.balance != 0">
                        <div class="d-flex justify-content-between">
                            <span
                                style="color:#4A89F3"
                                class="text-center font-weight-bold"
                            >
                                Your Balance
                            </span>
                            <span
                                style="color:#a1a1a1"
                                class="text-center font-weight-bold "
                            >
                                Rp {{ rupiahFormater(getUser.balance) }}
                            </span>
                        </div>
                        <hr />
                        <div class="form-group mb-0">
                            <div class="input-group">
                                <input
                                    type="number"
                                    class="form-control border"
                                    id="payField"
                                    style="padding-left: 33px;background: #f2f2f2;color: #495057;"
                                    v-model="amount"
                                    @change="amountCheck"
                                    @keyup="amountCheck"
                                    @keydown="amountCheck"
                                />
                            </div>
                            <span
                                class="position-absolute"
                                style="margin-top: -31px;margin-left: 10px;z-index: 10;color: #495057;"
                                >Rp
                            </span>
                            <p
                                class="text-danger"
                                v-if="
                                    parseInt(totalPay) >
                                        parseInt(getUser.balance)
                                "
                            >
                                Your Balance is not enough
                            </p>
                        </div>
                        <div class="d-flex justify-content-between my-3">
                            <span
                                style="color: #4a89f3"
                                class="text-center font-weight-bold"
                            >
                                Tax(2%)
                            </span>
                            <span
                                style="color: #a1a1a1"
                                class="text-center font-weight-bold"
                            >
                                Rp {{ rupiahFormater(tax) }}
                            </span>
                        </div>
                        <div class="d-flex justify-content-between my-3">
                            <span
                                style="color:#4A89F3"
                                class="text-center font-weight-bold"
                            >
                                Total
                            </span>
                            <span
                                style="color:#a1a1a1"
                                class="text-center font-weight-bold "
                            >
                                Rp {{ rupiahFormater(totalPay) }}
                            </span>
                        </div>
                        <div class="d-flex justify-content-between m-0">
                            <router-link to="/" class="btn btn-danger">
                                Cancel
                            </router-link>
                            <button
                                type="button"
                                @click="pay"
                                class="btn btn-primary"
                                v-if="
                                    amount != 0 &&
                                        amount != '' &&
                                        parseInt(totalPay) <=
                                            parseInt(getUser.balance)
                                "
                            >
                                Pay
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="d-flex justify-content-center position-absolute"
                style="background:rgba(0,0,0,.3); width:100vw; height:100vh;z-index:30;padding:100px"
                v-if="getPayStatus !== null"
            >
                <div
                    class="p-4 myShadow myRounded "
                    style="background:#f2f2f2; height:200px; z-index:40"
                    v-if="getPayStatus == 'success'"
                >
                    <h4 class="text-center" style="color:#3B82F6;">
                        Pay <br />
                        Successful
                    </h4>
                    <br />
                    <div class="d-flex justify-content-center">
                        <router-link
                            to="/"
                            class="rounded-pill myShadow px-5 py-3"
                            style="background:#3B82F6; color:#eee"
                            >Home</router-link
                        >
                    </div>
                </div>
                <div
                    class="p-4 myShadow myRounded "
                    style="background:#f2f2f2; height:200px;z-index:40"
                    v-if="getPayStatus == 'failed'"
                >
                    <h4 class="text-center" style="color:#ff4c4c;">
                        Pay <br />
                        Failed
                    </h4>
                    <br />
                    <div class="d-flex justify-content-center">
                        <router-link
                            to="/pay"
                            class="rounded-pill myShadow px-5 py-3"
                            style="background:#ff4c4c; color:#eee"
                            >Try Again</router-link
                        >
                    </div>
                </div>
            </div>
        </div>
        <router-link
            to="/"
            class="fas fa-arrow-left rounded-circle m-4 text-decoration-none"
            style="background:#4B8BF4; color:#fff; font-size:25px; padding:9px 11px; position:absolute; z-index:10"
        ></router-link>
        <div class="d-flex justify-content-center">
            <div
                style="width:240px; height:240px; margin-top:100px;position:absolute; z-index:9; border:3px solid #eee"
            ></div>
        </div>
        <qrcode-stream @decode="onDecode" style="height:100vh"></qrcode-stream>
    </div>
</template>

<script>
import { QrcodeStream } from "vue-qrcode-reader";
export default {
    data() {
        return {
            amount: 0,
            status: false
        };
    },
    components: {
        QrcodeStream
    },
    mounted() {
        this.$store.dispatch("home/getUser", false);
    },
    methods: {
        pay() {
            if (
                this.amount != 0 &&
                this.amount != "" &&
                parseInt(this.totalPay) <= parseInt(this.getUser.balance)
            ) {
                this.$store.dispatch("home/pay", {
                    amount: this.amount,
                    status: "pay",
                    tax: this.tax,
                    target: this.$store.state.home.payTarget.esm_number
                });
            }
        },
        onDecode(decodedString) {
            this.$store.dispatch("home/getPayTarget", {
                data: decodedString,
                status: "esmNumber"
            });
            setTimeout(() => (this.status = true), 300);
        },
        amountCheck() {
            if (parseInt(this.totalPay) > parseInt(this.getUser.balance)) {
                $("#payField").removeClass("border-primary");
                $("#payField").addClass("border-danger");
            } else {
                $("#payField").removeClass("border-danger");
                $("#payField").addClass("border-primary");
            }
        },
        rupiahFormater(value = "0") {
            return parseInt(value).toLocaleString();
        }
    },
    computed: {
        totalPay() {
            if (this.amount == "") {
                return 0;
            }
            return this.tax + parseInt(this.amount);
        },
        tax() {
            if (this.amount == "") {
                return 0;
            }
            return parseInt(this.amount) * 0.02;
        },
        getpayTarget() {
            return this.$store.state.home.payTarget;
        },
        getUser() {
            return this.$store.state.home.user;
        },
        getPayStatus() {
            return this.$store.state.home.payStatus;
        }
    }
};
</script>

<style></style>
