<template>
    <div style="background:#e7e7e7; min-height:100vh" class="pb-5">
        <nav style="min-width:90%; border-top-right-radius: 20px">
            <div
                class="headerWrapper py-4 px-4"
                style="height:250px;background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
            >
                <h3
                    class="text-center mt-2"
                    style="color:#e7e7e7;font-family:'Varela Round', sans-serif;letter-spacing: 4px; font-weight:900;"
                >
                    PAY CODE
                </h3>
            </div>
        </nav>
        <div class="d-flex justify-content-center" style="margin-top:-145px">
            <div class="p-5 myShadow myRounded" style="background:#f7f7f7;">
                <qrcode-vue :value="getUser.esm_number" size="200"></qrcode-vue>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <router-link
                to="/"
                class="py-3 px-5 mt-3 rounded-pill myShadow text-decoration-none font-weight-bold"
                style="background:#f5f5f5; color:#4A89F3"
            >
                Back
            </router-link>
        </div>
        <div class="pb-5"></div>
    </div>
</template>

<script>
import QrcodeVue from "qrcode.vue";
export default {
    components: {
        QrcodeVue
    },
    computed: {
        getUser() {
            return this.$store.state.home.user;
        }
    },
    mounted() {
        this.$store.dispatch("home/getUser",false);
    },
};
</script>

<style></style>
