<template>
    <div style="background:#ddd">
        <div
            class="d-flex justify-content-center"
            style="width:100vw;height:100vh; padding-top:10vh"
        >
            <croppa
                v-model="myCroppa"
                ref="croppa"
                canvas-color="transparent"
                prevent-white-space
                :auto-sizing="true"
                :show-remove-button="false"
                style="width:100vw; height:100vw;"
                :initial-image="initImg"
            ></croppa>
        </div>
        <button @click="generateImage">Generate</button>
        <button
            @click="
                () => {
                    initImg = '/loading.gif';
                    $refs.croppa.refresh();
                }
            "
        >
            Delete
        </button>
        <button
            @click="
                () => {
                    $refs.croppa.remove();
                    $refs.croppa.chooseFile();
                }
            "
        >
            Change
        </button>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <img class="output" :src="imgUrl" />
    </div>
</template>

<script>
export default {
    data() {
        return {
            myCroppa: {},
            imgUrl: "",
            initImg: "/default.png"
        };
    },
    methods: {
        generateImage() {
            this.myCroppa.generateBlob(
                blob => {
                    // write code to upload the cropped image file (a file is a blob)
                },
                "image/jpeg",
                0.8
            ); // 80%
        }
    }
};
</script>
