<template>
    <div>
        <div
            class="photoProfile position-fixed"
            v-if="profile != ''"
            style="background:#ddd;height:100vh; z-index:20"
        >
            <div
                class="d-flex justify-content-center"
                style="width:100vw; padding-top:10vh"
            >
                <croppa
                    v-model="myCroppa"
                    ref="croppa"
                    canvas-color="transparent"
                    :prevent-white-space="true"
                    :auto-sizing="true"
                    :show-remove-button="false"
                    style="width:100vw; height:100vw;"
                    :initial-image="getImg"
                    :disable-click-to-choose="true"
                    :file-size-limit="600000"
                ></croppa>
            </div>
            <div class="Nav d-flex justify-content-center">
                <div
                    class="px-4 py-3 bg-danger rounded-pill position-fixed shadow"
                    style="width:90%; z-index:30; bottom:20px;background: rgb(238,238,238);background: linear-gradient(45deg, rgba(238,238,238,1) 22%, rgba(245,245,245,1) 100%);"
                >
                    <div class="row">
                        <div
                            class="col text-center text-danger"
                            v-if="profile == 'profile'"
                        >
                            <i class="fas fa-trash"></i>
                        </div>
                        <div
                            class="col text-center text-secondary"
                            v-if="profile == 'edit'"
                            @click="$refs.croppa.flipX()"
                        >
                            <i class="fas fa-exchange-alt"></i>
                        </div>
                        <div
                            class="col text-center text-secondary"
                            v-if="profile == 'edit'"
                            @click="$refs.croppa.rotate(1)"
                        >
                            <i class="fas fa-redo"></i>
                        </div>
                        <div
                            class="col text-center text-success"
                            @click="
                                () => {
                                    // $refs.croppa.remove();
                                    profile = 'edit';
                                    $refs.croppa.chooseFile();
                                }
                            "
                        >
                            <i class="fas fa-edit"></i>
                        </div>
                        <div
                            class="col text-center"
                            @click="
                                () => {
                                    myCroppa = {};
                                    imgUrl = '';
                                    profile = '';
                                }
                            "
                        >
                            <i class="fas fa-times text-secondary"></i>
                        </div>
                        <div
                            class="col text-center"
                            @click="generateImage"
                            v-if="profile == 'edit'"
                        >
                            <i class="fas fa-check text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="pb-5 "
            style="background:#ddd; min-height:100vh; border-top-right-radius: 20px"
        >
            <nav style="min-width:90%; border-top-right-radius: 20px">
                <div
                    class="headerWrapper py-4 px-4"
                    style="height:270px;background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
                >
                    <div class="d-flex justify-content-center">
                        <img
                            :src="getImg"
                            class="rounded-circle d-inline float-left"
                            width="100px"
                            @click="profile = 'profile'"
                        />
                    </div>
                    <h4
                        class="mb-0 mt-2 text-center"
                        style="color:#ddd"
                        v-if="!changeStatus"
                    >
                        &ensp;&ensp; &nbsp;
                        {{ getUser.username }}
                        <button
                            @click="changeStatus = true"
                            class="align-top pt-1"
                            style="border:none; background:transparent;color:#ddd; font-size:18px; outline:none"
                        >
                            <i class="fas fa-edit"></i>
                        </button>
                    </h4>
                    <div
                        class="input-group mx-auto mt-3 changeUsernameField rounded"
                        v-if="changeStatus"
                        style=" width:95%;max-width:370px;"
                    >
                        <input
                            type="text"
                            class="form-control "
                            placeholder="New Username"
                            aria-label="New Username"
                            v-model="newUsername"
                            style="border-right: none; background: #f2f2f2"
                            @keyup="checkUsername"
                        />
                        <div class="input-group-append">
                            <span
                                class="input-group-text"
                                id="basic-addon2"
                                style="border-left: none; background: #f2f2f2"
                            >
                                <button
                                    type="button"
                                    @click="
                                        () => {
                                            changeStatus = false;
                                            newUsername = getUser.username;
                                        }
                                    "
                                    class="fas fa-times p-0 text-danger"
                                    style="background: transparent; border: none;"
                                ></button>
                            </span>
                        </div>
                        <div
                            class="input-group-append"
                            v-if="getUsernameStatus"
                        >
                            <span
                                class="input-group-text"
                                id="basic-addon2"
                                style="border-left: none; background: #f2f2f2"
                            >
                                <button
                                    type="button"
                                    @click="changeUsername"
                                    class="fas fa-check p-0 changeUsernameBtn"
                                    style="background: transparent; border: none; color: #3b82f6"
                                ></button>
                            </span>
                        </div>
                    </div>
                    <h6
                        style="color:#bbb"
                        class="text-center"
                        v-if="!changeStatus"
                    >
                        {{ getUser.esm_number }}
                    </h6>
                </div>
            </nav>
            <main class="d-flex justify-content-center">
                <div
                    style="margin-top:-80px; width:90%;max-width:400px; padding:0 15px"
                >
                    <div
                        class="esm p-3 myRounded myShadow d-flex justify-content-between"
                        style="width:100%;background: #ddd"
                    >
                        <span
                            class="pr-3 font-weight-bold d-inline"
                            style="color:#3972EC"
                        >
                            Schoolbank
                        </span>
                        <span
                            class="font-weight-bold d-inline"
                            style="color:#3972EC"
                        >
                            Rp {{ rupiahFormater(getSchoolbank) }}
                        </span>
                    </div>
                    <div
                        class="money p-3 myRounded myShadow mt-5 d-flex justify-content-between"
                        style="background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
                    >
                        <span
                            class="pr-3 font-weight-bold d-inline"
                            style="color:#eee"
                        >
                            ESM
                        </span>
                        <span>
                            <span
                                class="pr-3 font-weight-bold d-inline"
                                style="color:#eee"
                            >
                                Rp {{ rupiahFormater(getUser.balance) }}
                            </span>
                            <button
                                class="font-weight-bold d-inline rounded-circle"
                                style="color:#4A89F3; background:#e7e7e7; border:none; font-size:16px; outline:none"
                                data-toggle="modal"
                                data-target="#exampleModal"
                            >
                                <span class="fas fa-plus"></span>
                            </button>
                        </span>
                    </div>
                    <div
                        class="p-4 mt-4 myRounded myShadow"
                        style="background:#e7e7e7"
                    >
                        <div class="d-flex justify-content-center">
                            <span
                                style="color:#4A89F3;margin-top:2px"
                                class="fas fa-user"
                            >
                            </span>
                            <span
                                style="color:#a1a1a1; font-size:14px"
                                class="font-weight-bold "
                            >
                                &nbsp; {{ getUser.name }}
                            </span>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-center">
                            <span
                                style="color:#4A89F3; margin-top:3px"
                                class="fas fa-envelope"
                            ></span>
                            <span
                                style="color:#a1a1a1; font-size:14px"
                                class="font-weight-bold text-truncate"
                            >
                                &nbsp; {{ getUser.email }}
                            </span>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-center">
                            <span
                                style="color:#4A89F3; margin-top:2px"
                                class="fas fa-mobile"
                            >
                            </span>
                            <span
                                style="color:#a1a1a1; font-size:14px"
                                class="text-center font-weight-bold "
                            >
                                &nbsp; {{ getUser.phone }}
                            </span>
                        </div>
                        <hr class="mb-0" />
                    </div>
                </div>
            </main>
            <div class="d-flex justify-content-center ">
                <router-link
                    to="/setting"
                    class="mt-4 rounded-pill myShadow text-decoration-none font-weight-bold"
                    style="color:#E7E7E7; padding:2.5vh 17vw; background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
                >
                    Settings
                </router-link>
            </div>
            <div class="d-flex justify-content-center pb-5">
                <button
                    type="button"
                    @click="logout"
                    class="mt-4 rounded-pill myShadow text-decoration-none font-weight-bold"
                    style="color:#ccc; padding:2.5vh 17vw; background:#ff4c4c; border:none; outline:none"
                >
                    Log Out
                </button>
            </div>
            <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
            >
                <div
                    class="modal-dialog modal-dialog-centered d-flex justify-content-center"
                    style="padding: 0 15px"
                >
                    <div
                        class="modal-content p-4"
                        style="background: #e7e7e7; width: 90%"
                    >
                        <h5
                            class="modal-title font-weight-bold text-center mb-4"
                            id="exampleModalLabel"
                            style="color: #4a89f3"
                        >
                            Charge ESM
                        </h5>

                        <div v-if="getSchoolbank == 0">
                            <h6
                                class="font-weight-bold text-center text-center mt-4 mb-5"
                                style="color:#a1a1a1"
                            >
                                Your Schoolbank Balance is Rp 0. Please deposit
                                at Schoolbank Center first
                            </h6>
                            <div class="d-flex justify-content-center">
                                <button
                                    type="button"
                                    class="btn btn-primary"
                                    data-dismiss="modal"
                                >
                                    Close
                                </button>
                            </div>
                        </div>
                        <div v-if="getSchoolbank != 0">
                            <div class="d-flex justify-content-between">
                                <span
                                    style="color: #4a89f3"
                                    class="text-center font-weight-bold"
                                >
                                    Schoolbank
                                </span>
                                <span
                                    style="color: #a1a1a1"
                                    class="text-center font-weight-bold"
                                >
                                    Rp {{ rupiahFormater(getSchoolbank) }}
                                </span>
                            </div>
                            <div
                                class="form-group pt-3 mt-2 mb-0"
                                style="border-top: 1px solid #ccc"
                            >
                                <label
                                    for="exampleInputPassword1"
                                    style="color: #4a89f3"
                                    class="font-weight-bold"
                                    >Amount</label
                                >
                                <div class="input-group">
                                    <input
                                        type="number"
                                        class="form-control border"
                                        id="chargeField"
                                        style="padding-left: 33px;background: #f2f2f2;color: #495057;"
                                        v-model="amount"
                                        @change="amountCheck"
                                        @keyup="amountCheck"
                                        @keydown="amountCheck"
                                    />
                                </div>
                                <span
                                    class="position-absolute"
                                    style="margin-top: -31px;margin-left: 10px;z-index: 10;color: #495057;"
                                    >Rp
                                </span>
                            </div>
                            <p
                                class="text-danger"
                                v-if="
                                    parseInt(this.totalCharge) >
                                        parseInt(this.getSchoolbank)
                                "
                            >
                                Your Balance is not enough
                            </p>
                            <div class="d-flex justify-content-between my-3">
                                <span
                                    style="color: #4a89f3"
                                    class="text-center font-weight-bold"
                                >
                                    Tax(2%)
                                </span>
                                <span
                                    style="color: #a1a1a1"
                                    class="text-center font-weight-bold"
                                >
                                    Rp {{ rupiahFormater(tax) }}
                                </span>
                            </div>
                            <div class="d-flex justify-content-between my-3">
                                <span
                                    style="color: #4a89f3"
                                    class="text-center font-weight-bold"
                                >
                                    Total
                                </span>
                                <span
                                    style="color: #a1a1a1"
                                    class="text-center font-weight-bold"
                                >
                                    Rp {{ rupiahFormater(totalCharge) }}
                                </span>
                            </div>
                            <div class="d-flex justify-content-between m-0">
                                <button
                                    type="button"
                                    class="btn btn-danger"
                                    data-dismiss="modal"
                                >
                                    Cancel
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-primary"
                                    @click="charge"
                                    data-dismiss="modal"
                                    v-if="
                                        amount != 0 &&
                                            amount != '' &&
                                            parseInt(this.totalCharge) <=
                                                parseInt(this.getSchoolbank)
                                    "
                                >
                                    Transfer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            amount: 0,
            newUsername: "",
            changeStatus: false,
            profile: "",
            myCroppa: {},
            imgUrl: ""
        };
    },
    methods: {
        generateImage() {
            this.myCroppa.generateBlob(
                blob => {
                    let form = new FormData();

                    form.append("file", blob);

                    let config = {
                        header: {
                            "Content-Type": "multipart/form-data"
                        }
                    };

                    axios
                        .post(
                            `/api/upload/images/${this.getUser.id}`,
                            form,
                            config
                        )
                        .then(response => {
                            console.log("response", response);
                        })
                        .catch(error => {
                            console.log("error", error);
                        });
                },
                "image/jpeg",
                0.8
            ); // 80%
            setTimeout(() => {
                this.profile = "";
                this.$store.dispatch("home/getUser", false);
            }, 1500);
        },
        amountCheck() {
            if (parseInt(this.totalCharge) > parseInt(this.getSchoolbank)) {
                $("#chargeField").removeClass("border-primary");
                $("#chargeField").addClass("border-danger");
            } else {
                $("#chargeField").removeClass("border-danger");
                $("#chargeField").addClass("border-primary");
            }
        },
        getDate(value = "0") {
            let dt = value.slice(0, 10).split("-");
            return `${dt[2]}-${dt[1]}-${dt[0]}`;
        },
        rupiahFormater(value = "0") {
            return parseInt(value).toLocaleString();
        },
        logout() {
            if (confirm("Are you sure ?")) {
                this.$store.dispatch("user/logoutUser");
            }
        },
        changeUsername() {
            if (this.getUsernameStatus) {
                this.$store.dispatch("setting/update", {
                    id: this.$store.state.home.user.id,
                    username: this.newUsername,
                    status: "username"
                });
                setTimeout(() => {
                    this.$store.dispatch("home/getUser", false);
                    this.changeStatus = false;
                }, 1000);
            }
        },
        charge() {
            if (
                this.amount != 0 &&
                this.amount != "" &&
                parseInt(this.totalCharge) <= parseInt(this.getSchoolbank)
            ) {
                this.$store.dispatch("home/charge", this.amount);
            }
        },
        checkUsername() {
            this.$store.dispatch("user/checkUsername", this.newUsername);
            setTimeout(() => {
                if (this.getUsernameStatus) {
                    $(".changeUsernameField").css({
                        border: "2px solid #28A745"
                    });
                } else {
                    $(".changeUsernameField").css({
                        border: "2px solid #DC3545"
                    });
                }
            }, 500);
        }
    },
    computed: {
        getUser() {
            return this.$store.state.home.user;
        },
        totalCharge() {
            if (this.amount == "") {
                return 0;
            }
            return this.tax + parseInt(this.amount);
        },
        tax() {
            if (this.amount == "") {
                return 0;
            }
            return parseInt(this.amount) * 0.02;
        },
        getSchoolbank() {
            return this.$store.state.home.schoolbank;
        },
        getImg() {
            return `/storage/avatars/${this.getUser.image}`;
        },
        getUsernameStatus() {
            return this.$store.state.user.usernameStatus;
        }
    },
    mounted() {
        this.$store.dispatch("home/getUser", false);
        setTimeout(() => {
            this.newUsername = this.$store.state.home.user.username;
        }, 1500);
    }
};
</script>

<style></style>
