<template>
    <div class="pb-5" style="min-height: 100vh; background: #ddd">
        <nav style="min-width: 90%; border-top-right-radius: 20px">
            <div
                class="headerWrapper py-4 px-4"
                style="height: 200px;background: rgb(56, 112, 235);background: linear-gradient(70deg,rgba(56, 112, 235, 1) 0%,rgba(75, 139, 244, 1) 100%);"
            >
                <h3
                    class="text-center mt-2"
                    style="color: #e7e7e7; font-family: 'Varela Round', sans-serif;letter-spacing: 4px; font-weight:900;"
                >
                    ES MONEY
                </h3>
            </div>
        </nav>
        <div class="d-flex justify-content-center" style="margin-top: -110px">
            <div
                class="shadow myRounded px-5 pb-5 pt-4"
                style="padding: 35px; background: #e7e7e7; width: 90%; max-width: 400px"
            >
                <h3 class="text-center" style="color: #3b82f6">Registration</h3>

                <br />
                <form @submit.prevent="regist">
                    <div class="input-group mb-3">
                        <input
                            type="text"
                            class="form-control changeUsernameField"
                            placeholder="Username"
                            aria-label="Username"
                            style="background: #f2f2f2"
                            v-model="username"
                            @keyup="checkUsername"
                        />
                    </div>

                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control border pass"
                            placeholder="Password"
                            style="background: #f2f2f2"
                            @keyup="checkPass"
                            @keypress="checkPass"
                            @keydown="checkPass"
                            v-model="password"
                        />
                    </div>
                    <p class="text-danger" v-if="password != retype">
                        Password not match.
                    </p>
                    <div class="form-group m-0">
                        <input
                            type="text"
                            class="form-control border pass"
                            placeholder="Re-type Password"
                            style="background: #f2f2f2"
                            @keyup="checkPass"
                            @keypress="checkPass"
                            @keydown="checkPass"
                            v-model="retype"
                        />
                    </div>
                    <button
                        type="submit"
                        class="submitBtn btn btn-block mt-3 disabled"
                    >
                        <span v-if="!load">
                            Submit
                        </span>
                        <span v-if="load">
                            <img src="/loading.gif" alt="" style="width:20%" />
                        </span>
                    </button>
                </form>
            </div>
        </div>
        <div class="pb-5"></div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            username: "",
            password: "",
            retype: "",
            load: false
        };
    },
    mounted() {
        this.$store.dispatch("user/getSecret");
    },
    methods: {
        regist() {
            if (
                this.password == this.retype &&
                this.password != "" &&
                this.retype != "" &&
                this.username != "" &&
                this.getUsernameStatus
            ) {
                $(".submitBtn").addClass("disabled");
                this.load = true;
                this.$store.dispatch("user/Registration", {
                    enc: this.$route.query.enc,
                    username: this.username,
                    password: this.password
                });
            }
        },
        checkPass() {
            if (
                this.password == this.retype &&
                this.password != "" &&
                this.retype != ""
            ) {
                $(".pass").removeClass("border-danger");
                $(".submitBtn").removeClass("disabled");
                $(".pass").addClass("border-primary");
            } else {
                $(".pass").removeClass("border-primary");
                $(".pass").addClass("border-danger");
                $(".submitBtn").addClass("disabled");
            }
        },
        checkUsername() {
            if (this.username == "") {
                $(".changeUsernameField").css({
                    border: "1px solid #ced4da"
                });
            } else {
                this.$store.dispatch("user/checkUsername", this.username);
                setTimeout(() => {
                    if (this.getUsernameStatus) {
                        $(".changeUsernameField").removeClass(
                            "border border-danger"
                        );
                        $(".changeUsernameField").addClass(
                            "border border-primary"
                        );
                    } else {
                        $(".changeUsernameField").removeClass(
                            "border border-primary"
                        );
                        $(".changeUsernameField").addClass(
                            "border border-danger"
                        );
                    }
                }, 700);
            }
        }
    },
    computed: {
        getUsernameStatus() {
            return this.$store.state.user.usernameStatus;
        }
    }
};
</script>

<style></style>
