<template>
    <div class="pb-5" style="background:#ddd; min-height:100vh">
        <div
            class="notification position-fixed py-5"
            style="background:rgba(0,0,0,.2); width:100vw; height:100vh; z-index:30"
            v-if="notifStatus.State"
        >
            <div
                class="px-4 py-5 myShadow myRounded mx-auto text-center mt-5"
                style="background:#e7e7e7; width:min(90vw, 500px)"
            >
                <div v-if="notifStatus.status">
                    <span
                        class="font-weight-bold"
                        style="color:#3B82F6; font-size:24px"
                        >Change Successful</span
                    >
                    <br />
                    <button
                        type="button"
                        @click="clearNotif"
                        class="btn submitBtn mt-4 px-5"
                    >
                        Close
                    </button>
                </div>
                <div v-if="!notifStatus.status">
                    <span
                        class="font-weight-bold text-danger"
                        style="font-size:24px"
                        >Change Failed</span
                    >
                    <p class="text-danger">Maybe your password is wrong</p>
                    <br />
                    <button
                        type="button"
                        @click="clearNotif"
                        class="btn submitBtn mt-3 px-5"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
        <nav style="min-width:90%; border-top-right-radius: 20px">
            <div
                class="headerWrapper py-4 px-4"
                style="height:200px;background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
            >
                <h3
                    class="text-center mt-2"
                    style="color:#e7e7e7;font-family:'Varela Round', sans-serif;letter-spacing: 4px; font-weight:900;"
                >
                    SETTING
                </h3>
            </div>
        </nav>
        <div class="d-flex justify-content-center" style="margin-top:-110px;">
            <div
                class="shadow myRounded px-5 pb-5 pt-4"
                style="padding: 35px;background: #f5f5f5;width: 90%;max-width:400px"
            >
                <h3 class="text-center" style="color:#3B82F6;">
                    Personal
                </h3>

                <br />
                <form>
                    <div class="input-group mb-3">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Phone"
                            aria-label="Phone"
                            v-model="personalForm.phone"
                        />
                    </div>

                    <div class="form-group">
                        <input
                            type="email"
                            class="form-control "
                            placeholder="Email"
                            aria-label="Email"
                            v-model="personalForm.email"
                        />
                    </div>
                    <button
                        type="button"
                        class="btn submitBtn btn-block mt-3"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        @click="status = 'personal'"
                    >
                        Change
                    </button>
                </form>
                <p class="text-danger mb-0 mt-2" style="font-size:13px">
                    Changes will have an effect on Schoolbank
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <div
                class="shadow myRounded px-5 pb-5 pt-4"
                style="padding: 35px;background: #f5f5f5;width: 90%;max-width:400px"
            >
                <h3 class="text-center" style="color:#3B82F6;">
                    Password
                </h3>

                <br />
                <form>
                    <div class="input-group mb-3">
                        <input
                            type="password"
                            class="form-control"
                            placeholder="New Password"
                            aria-label="New Password"
                            @keyup="retypeCompare"
                            @keydown="retypeCompare"
                            @keypress="retypeCompare"
                            v-model="passwordForm.new"
                        />
                    </div>

                    <div class="form-group">
                        <label class="text-danger" v-if="!passwordForm.match"
                            >Password not match</label
                        >
                        <input
                            type="password"
                            class="form-control "
                            placeholder="Re-type New Password"
                            aria-label="Re-type New Password"
                            @keyup="retypeCompare"
                            @keydown="retypeCompare"
                            @keypress="retypeCompare"
                            v-model="passwordForm.retype"
                        />
                    </div>
                    <button
                        type="button"
                        class="btn submitBtn btn-block mt-3"
                        data-toggle="modal"
                        id="submitPassword"
                        @click="status = 'password'"
                        disabled
                    >
                        Change
                    </button>
                </form>
            </div>
        </div>
        <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-dialog-centered d-flex justify-content-center"
                style="padding:0 15px"
            >
                <div
                    class="modal-content p-4"
                    style="background:#e7e7e7; width:90%"
                >
                    <h5
                        class="modal-title font-weight-bold text-center mb-4"
                        id="exampleModalLabel"
                        style="color:#4A89F3"
                    >
                        Password Confirmation
                    </h5>
                    <div class="form-group">
                        <input
                            type="password"
                            class="form-control "
                            placeholder="Enter your Password"
                            v-model="password"
                            @keyup="passwordCheck"
                            @keypress="passwordCheck"
                            @keydown="passwordCheck"
                            @focus="passwordCheck"
                        />
                    </div>
                    <div class="d-flex justify-content-between m-0">
                        <button
                            type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                            @click="(status = null), (password = null)"
                        >
                            Cancel
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            id="submit"
                            data-dismiss="modal"
                            @click="verify"
                            disabled
                        >
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-5"></div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            status: null,
            personalForm: {
                phone: null,
                email: null
            },
            passwordForm: {
                new: "",
                retype: "",
                match: true
            },
            password: null,
            notif: {
                State: false,
                status: null
            }
        };
    },
    methods: {
        verify() {
            if (this.password != null && this.password != "") {
                if (this.status == "personal") {
                    this.$store.dispatch("setting/update", {
                        id: this.$store.state.user.user.id,
                        phone: this.personalForm.phone,
                        email: this.personalForm.email,
                        password: this.password,
                        status: this.status
                    });
                }
                if (this.status == "password") {
                    this.$store.dispatch("setting/update", {
                        id: this.$store.state.user.user.id,
                        new: this.passwordForm.new,
                        password: this.password,
                        status: this.status
                    });
                    this.passwordForm = {
                        new: "",
                        retype: "",
                        match: true
                    };
                }
                this.password = null;
            } else {
                alert("Password Can't be null");
            }
        },
        passwordCheck() {
            if (this.password != null && this.password != "") {
                $("#submit").prop("disabled", false);
            } else {
                $("#submit").prop("disabled", true);
            }
        },
        retypeCompare() {
            if (this.passwordForm.new != this.passwordForm.retype) {
                $("#submitPassword").attr("data-target", "");
                $("#submitPassword").prop("disabled", true);
                this.passwordForm.match = false;
            } else {
                $("#submitPassword").attr("data-target", "#exampleModal");
                $("#submitPassword").prop("disabled", false);
                this.passwordForm.match = true;
            }
        },
        clearNotif() {
            this.$store.commit("setting/clearNotif");
            this.notif = {
                State: false,
                status: null
            };
            window.location.replace("/setting");
        }
    },
    mounted() {
        this.$store.dispatch("user/getUser");
        setTimeout(() => {
            this.personalForm.email = this.$store.state.user.user.email;
            this.personalForm.phone = this.$store.state.user.user.phone;
        }, 700);
    },
    computed: {
        notifStatus() {
            return (this.notif = this.$store.state.setting.notif);
        }
    }
};
</script>

<style></style>
