<template>
    <div
        class="pb-5 "
        style="background:#ddd; min-height:100vh; border-top-right-radius: 20px"
    >
        <nav style="min-width:90%; border-top-right-radius: 20px">
            <div
                class="headerWrapper py-4 px-4"
                style="height:180px;background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
            >
                <h3
                    class="text-center mt-2"
                    style="color:#e7e7e7;font-family:'Varela Round', sans-serif;letter-spacing: 4px; font-weight:900;"
                >
                    TRANSACTION<br />
                    HISTORY
                </h3>
            </div>
        </nav>
        <main
            class="d-flex justify-content-center pb-5"
            style="margin-top:-75px"
        >
            <div
                class="m-3 myRounded myShadow"
                style="background:#e7e7e7;width:80%;max-width:400px;"
            >
                <div class="p-3">
                    <div v-if="checkHistory">
                        <div v-for="history in getHistory" :key="history.id">
                            <router-link
                                :to="{
                                    name: 'transaction',
                                    params: { id: history.id }
                                }"
                                class="text-decoration-none"
                            >
                                <div
                                    class="p-2 d-flex justify-content-between"
                                    style="border-top:1px solid #ccc; border-bottom:1px solid #ccc"
                                >
                                    <div>
                                        <h5
                                            style="color:#4A89F3; margin-bottom:5px"
                                        >
                                            <span
                                                v-if="
                                                    history.status === 'charge'
                                                "
                                            >
                                                Charge
                                            </span>
                                            <span
                                                v-if="history.status === 'pay'"
                                            >
                                                Pay
                                            </span>
                                            <span
                                                v-if="
                                                    history.status ===
                                                        'transfer'
                                                "
                                            >
                                                Transfer
                                            </span>
                                        </h5>
                                        <p
                                            class="m-0 text-truncate"
                                            style="color:#a1a1a1; font-size:14px"
                                        >
                                            <span
                                                v-if="
                                                    history.status === 'charge'
                                                "
                                            >
                                                From Schoolbank
                                            </span>
                                            <span
                                                v-if="
                                                    history.status === 'pay' ||
                                                        history.status ===
                                                            'transfer'
                                                "
                                            >
                                                <span
                                                    v-if="
                                                        history.from ==
                                                            getUser.username
                                                    "
                                                >
                                                    To {{ history.to }}
                                                </span>
                                                <span
                                                    v-if="
                                                        history.to ==
                                                            getUser.username
                                                    "
                                                >
                                                    From {{ history.from }}
                                                </span>
                                            </span>
                                        </p>
                                        <p
                                            class="m-0"
                                            style="color:#a1a1a1; font-size:14px"
                                        >
                                            {{ getDate(history.created_at) }}
                                        </p>
                                    </div>
                                    <div class="align-self-center">
                                        <h6
                                            class="float-right m-0"
                                            style="color:#4A89F3"
                                        >
                                            Rp
                                            {{ rupiahFormater(history.amount) }}
                                        </h6>
                                        <br />
                                        <p
                                            class="m-0 float-right"
                                            style="color: rgb(161, 161, 161); font-size: 14px;"
                                        >
                                            Tax : Rp
                                            {{ rupiahFormater(history.tax) }}
                                        </p>
                                    </div>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div
                        v-if="!checkHistory"
                        class="text-center py-4 font-weight-bold"
                        style="font-size: max(min(3vw, 20px), 12px); color:#4a89f3"
                    >
                        Nothing Transaction
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
export default {
    methods: {
        getDate(value = "0") {
            let dt = value.slice(0, 10).split("-");
            return `${dt[2]}-${dt[1]}-${dt[0]}`;
        },
        rupiahFormater(value = "0") {
            return parseInt(value).toLocaleString();
        }
    },
    computed: {
        getHistory() {
            return this.$store.state.home.history;
        },
        checkHistory() {
            if (this.$store.state.home.history.length == 0) {
                return false;
            } else {
                return true;
            }
        },
        getUser() {
            return this.$store.state.home.user;
        }
    },
    mounted() {
        this.$store.dispatch("home/getUser");
    }
};
</script>

<style></style>
