<template>
    <div style="background:#ddd; min-height:100vh">
        <nav style="min-width:90%; border-top-right-radius: 20px">
            <div
                class="headerWrapper py-4 px-4"
                style="height:117px;background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
            >
                <h3
                    class="text-center mt-2"
                    style="color:#e7e7e7;font-family:'Varela Round', sans-serif;letter-spacing: 4px; font-weight:900;"
                >
                    TRANSFER
                </h3>
            </div>
        </nav>
        <div class="d-flex justify-content-center" style="margin-top:-27px">
            <div
                class="shadow myRounded p-4"
                style="background:#e7e7e7; width:80%; max-width:400px;height:90px"
            >
                <div class="d-flex justify-content-center">
                    <input
                        type="text"
                        class="form-control position-absolute"
                        placeholder="Esm Number"
                        aria-label="Esm Number"
                        style="background:#f2f2f2; z-index:10; width:70%; max-width:360px"
                        @keyup="search"
                        v-model="usernameQuery"
                    />
                </div>
            </div>
        </div>
        <div
            class=" position-absolute d-flex justify-content-center"
            style="width:100%"
        >
            <div
                class="myRounded myShadow p-4"
                style="background: rgb(242, 242, 242); width: 80%; max-width: 400px;margin-top:-20px"
                v-if="usernameQuery !== ''"
            >
                <div v-if="getUser.length > 0">
                    <button
                        type="button"
                        style="border:none; background:transparent; outline:none; width:100%"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        @click="currentTarget = data"
                        v-for="data in getUser"
                        :key="data.id"
                    >
                        <div class="d-flex justify-content-between">
                            <span>
                                <span
                                    style="color:#4A89F3"
                                    class="text-center font-weight-bold"
                                >
                                    @{{ data.username }}
                                </span>
                                <span
                                    class="d-block"
                                    style="color:#aaa; font-size:14px; margin-top:-7px"
                                >
                                    {{ data.name }}
                                </span>
                            </span>
                            <img
                                src="/default.png"
                                class="rounded-circle"
                                width="40"
                                height="40"
                            />
                        </div>
                    </button>
                </div>
                <div
                    v-if="getUser.length == 0"
                    class="text-center"
                    style="width:63vw;max-width:300px;"
                >
                    <span>
                        Not Found
                    </span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <router-link
                to="/"
                class="py-3 px-5 mt-3 rounded-pill myShadow text-decoration-none font-weight-bold"
                style="background:#E7E7E7; color:#4A89F3"
            >
                Back
            </router-link>
        </div>
        <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-dialog-centered d-flex justify-content-center"
                style="width:90%; padding:20px"
            >
                <div
                    class="modal-content p-4"
                    style="background:#e7e7e7; width:90%;max-width:400px;"
                >
                    <div class="d-flex justify-content-center">
                        <img
                            src="/default.png"
                            class="rounded-circle"
                            style="width:70px"
                        />
                    </div>
                    <div class="text-center">
                        <span style="color:#4A89F3;" class="font-weight-bold">
                            {{ currentTarget.username }}
                        </span>
                        <br />
                        <span style="color:#a1a1a1;" class="font-weight-bold">
                            {{ currentTarget.name }}
                        </span>
                    </div>
                    <hr />
                    <div v-if="getBalance == 0">
                        <h6
                            class="font-weight-bold text-center text-center mt-4 mb-5"
                            style="color:#a1a1a1"
                        >
                            Your Balance is Rp 0. Please Charge first.
                        </h6>
                        <div class="d-flex justify-content-center">
                            <router-link to="/" class="btn btn-primary">
                                Cancel
                            </router-link>
                        </div>
                    </div>
                    <div v-if="getBalance != 0">
                        <div class="d-flex justify-content-between">
                            <span
                                style="color:#4A89F3"
                                class="text-center font-weight-bold"
                            >
                                Your Balance
                            </span>
                            <span
                                style="color:#a1a1a1"
                                class="text-center font-weight-bold "
                            >
                                Rp {{ rupiahFormater(getBalance) }}
                            </span>
                        </div>
                        <hr />
                        <div class="form-group mb-0">
                            <div class="input-group">
                                <input
                                    type="number"
                                    class="form-control border"
                                    id="payField"
                                    style="padding-left: 33px;background: #f2f2f2;color: #495057;"
                                    v-model="amount"
                                    @change="amountCheck"
                                    @keyup="amountCheck"
                                    @keydown="amountCheck"
                                />
                            </div>
                            <span
                                class="position-absolute"
                                style="margin-top: -31px;margin-left: 10px;z-index: 10;color: #495057;"
                                >Rp
                            </span>
                            <p
                                class="text-danger"
                                v-if="parseInt(totalPay) > parseInt(getBalance)"
                            >
                                Your Balance is not enough
                            </p>
                        </div>
                        <div class="d-flex justify-content-between my-3">
                            <span
                                style="color: #4a89f3"
                                class="text-center font-weight-bold"
                            >
                                Tax(2%)
                            </span>
                            <span
                                style="color: #a1a1a1"
                                class="text-center font-weight-bold"
                            >
                                Rp {{ rupiahFormater(tax) }}
                            </span>
                        </div>
                        <div class="d-flex justify-content-between my-3">
                            <span
                                style="color:#4A89F3"
                                class="text-center font-weight-bold"
                            >
                                Total
                            </span>
                            <span
                                style="color:#a1a1a1"
                                class="text-center font-weight-bold "
                            >
                                Rp {{ rupiahFormater(totalPay) }}
                            </span>
                        </div>
                        <div class="d-flex justify-content-between m-0">
                            <button
                                type="button"
                                class="btn btn-danger"
                                data-dismiss="modal"
                                @click="usernameQuery = ''"
                            >
                                Close
                            </button>
                            <button
                                type="button"
                                @click="pay"
                                class="btn btn-primary"
                                data-dismiss="modal"
                                v-if="
                                    amount != 0 &&
                                        amount != '' &&
                                        parseInt(totalPay) <=
                                            parseInt(getBalance)
                                "
                            >
                                Pay
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            usernameQuery: "",
            amount: 0,
            currentTarget: {
                id: "",
                esm_number: "",
                username: "",
                name: "",
                image: "",
                balance: 0
            }
        };
    },
    methods: {
        search() {
            this.currentTarget = {
                id: "",
                esm_number: "",
                username: "",
                name: "",
                image: "",
                balance: 0
            };
            this.$store.dispatch("home/getPayTarget", {
                data: this.usernameQuery,
                status: "username"
            });
        },
        amountCheck() {
            if (parseInt(this.totalPay) > parseInt(this.getBalance)) {
                $("#payField").removeClass("border-primary");
                $("#payField").addClass("border-danger");
            } else {
                $("#payField").removeClass("border-danger");
                $("#payField").addClass("border-primary");
            }
        },
        rupiahFormater(value = "0") {
            return parseInt(value).toLocaleString();
        },
        pay() {
            if (
                this.amount != 0 &&
                this.amount != "" &&
                parseInt(this.totalPay) <= parseInt(this.getBalance)
            ) {
                this.$store.dispatch("home/pay", {
                    amount: this.amount,
                    status: "transfer",
                    tax: this.tax,
                    target: this.currentTarget.esm_number
                });
                setTimeout(() => {
                    this.usernameQuery = "";
                    this.currentTarget = {
                        id: "",
                        esm_number: "",
                        username: "",
                        name: "",
                        image: "",
                        balance: 0
                    };
                    this.$store.dispatch("home/getUser", false);
                }, 1500);
            }
        },
        getImg(img) {
            return `/storage/avatars/${img}`;
        }
    },
    computed: {
        getUser() {
            return this.$store.state.home.resQuery;
        },
        totalPay() {
            return this.amount * 0.02 + parseInt(this.amount);
        },
        totalPay() {
            if (this.amount == "") {
                return 0;
            }
            return this.tax + parseInt(this.amount);
        },
        tax() {
            if (this.amount == "") {
                return 0;
            }
            return parseInt(this.amount) * 0.02;
        },
        getBalance() {
            return this.$store.state.home.user.balance;
        }
    },
    mounted() {
        this.$store.dispatch("home/getUser", false);
    }
};
</script>

<style></style>
