<template>
    <div style="background:#ddd; min-height:100vh" class="pb-5">
        <nav style="min-width:90%; border-top-right-radius: 20px">
            <div
                class="headerWrapper py-4 px-4"
                style="height:267px;background: rgb(56,112,235);background: linear-gradient(70deg, rgba(56,112,235,1) 0%, rgba(75,139,244,1) 100%);"
            >
                <h3
                    class="text-center mt-2"
                    style="color:#e7e7e7;font-family:'Varela Round', sans-serif;letter-spacing: 4px; font-weight:900;"
                >
                    TRANSACTION
                </h3>
            </div>
        </nav>
        <main class="d-flex justify-content-center" style="margin-top:-179px">
            <div style="width:90%; max-width:400px;padding:0 20px">
                <div
                    class="Detail p-4 myShadow myRounded"
                    style="background:#e7e7e7;"
                >
                    <h5
                        style="color:#4A89F3"
                        class="text-center font-weight-bold text-center mb-4"
                    >
                        Detail
                    </h5>
                    <div class="d-flex justify-content-between">
                        <span
                            style="color:#4A89F3"
                            class="text-center font-weight-bold"
                        >
                            Type
                        </span>
                        <span
                            style="color:#a1a1a1"
                            class="text-center font-weight-bold text-truncate"
                        >
                            {{ getTransaction.status }}
                        </span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span
                            style="color:#4A89F3"
                            class="text-center font-weight-bold"
                        >
                            Code
                        </span>
                        <span
                            style="color:#a1a1a1"
                            class="text-center font-weight-bold text-truncate"
                        >
                            {{ getTransaction.id }}
                        </span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span
                            style="color:#4A89F3"
                            class="text-center font-weight-bold"
                        >
                            Date
                        </span>
                        <span
                            style="color:#a1a1a1"
                            class="text-center font-weight-bold "
                        >
                            {{ getDate(getTransaction.created_at) }}
                        </span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span
                            style="color:#4A89F3"
                            class="text-center font-weight-bold"
                        >
                            Time
                        </span>
                        <span
                            style="color:#a1a1a1"
                            class="text-center font-weight-bold "
                        >
                            {{ getTime(getTransaction.created_at) }}
                        </span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span
                            style="color:#4A89F3"
                            class="text-center font-weight-bold"
                        >
                            Amount
                        </span>
                        <span
                            style="color:#a1a1a1"
                            class="text-center font-weight-bold "
                        >
                            Rp {{ rupiahFormater(getTransaction.amount) }}
                        </span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <span
                            style="color:#4A89F3"
                            class="text-center font-weight-bold"
                        >
                            Tax(2%)
                        </span>
                        <span
                            style="color:#a1a1a1"
                            class="text-center font-weight-bold "
                        >
                            Rp {{ rupiahFormater(getTransaction.tax) }}
                        </span>
                    </div>
                    <hr class="mb-0" />
                </div>
                <div v-if="getTransaction.status != 'charge'">
                    <div
                        class="Sender mt-4 p-4 myShadow myRounded"
                        style="background:#e7e7e7;"
                    >
                        <h5
                            style="color:#4A89F3"
                            class="text-center font-weight-bold text-center mb-4"
                        >
                            Sender
                        </h5>
                        <div class="d-flex justify-content-between">
                            <span
                                style="color:#4A89F3"
                                class="text-center font-weight-bold"
                            >
                                ESM
                            </span>
                            <span
                                style="color:#a1a1a1"
                                class="text-center font-weight-bold text-truncate"
                            >
                                {{ getTransaction.from.esm_number }}
                            </span>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between">
                            <span
                                style="color:#4A89F3"
                                class="text-center font-weight-bold"
                            >
                                Username
                            </span>
                            <span
                                style="color:#a1a1a1"
                                class="text-center font-weight-bold text-truncate"
                            >
                                {{ getTransaction.from.username }}
                            </span>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between">
                            <span
                                style="color:#4A89F3"
                                class="text-center font-weight-bold"
                            >
                                Name
                            </span>
                            <span
                                style="color:#a1a1a1"
                                class="text-center font-weight-bold "
                            >
                                {{ getTransaction.from.name }}
                            </span>
                        </div>

                        <hr class="mb-0" />
                    </div>
                    <div
                        class="Receiver mt-4 p-4 myShadow myRounded"
                        style="background:#e7e7e7;"
                    >
                        <h5
                            style="color:#4A89F3"
                            class="text-center font-weight-bold text-center mb-4"
                        >
                            Receiver
                        </h5>
                        <div class="d-flex justify-content-between">
                            <span
                                style="color:#4A89F3"
                                class="text-center font-weight-bold"
                            >
                                ESM
                            </span>
                            <span
                                style="color:#a1a1a1"
                                class="text-center font-weight-bold text-truncate"
                            >
                                {{ getTransaction.to.esm_number }}
                            </span>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between">
                            <span
                                style="color:#4A89F3"
                                class="text-center font-weight-bold"
                            >
                                Username
                            </span>
                            <span
                                style="color:#a1a1a1"
                                class="text-center font-weight-bold text-truncate"
                            >
                                {{ getTransaction.to.username }}
                            </span>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between">
                            <span
                                style="color:#4A89F3"
                                class="text-center font-weight-bold"
                            >
                                Name
                            </span>
                            <span
                                style="color:#a1a1a1"
                                class="text-center font-weight-bold "
                            >
                                {{ getTransaction.to.name }}
                            </span>
                        </div>

                        <hr class="mb-0" />
                    </div>
                    <button
                        class=" btn btn-primary rounded position-fixed"
                        style="bottom:90px; right:5%"
                        @click="toBottom"
                    >
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </div>
            </div>
        </main>
        <div class="d-flex justify-content-center">
            <router-link
                to="/transactionHistory"
                class="py-3 px-5 mt-3 rounded-pill myShadow text-decoration-none font-weight-bold"
                style="background:#E7E7E7; color:#4A89F3"
            >
                Back
            </router-link>
        </div>
        <div class="pb-5"></div>
    </div>
</template>

<script>
export default {
    methods: {
        getDate(value = "0") {
            let dt = value.slice(0, 10).split("-");
            return `${dt[2]}-${dt[1]}-${dt[0]}`;
        },
        getTime(value = "0") {
            return value.slice(11, 19);
        },
        rupiahFormater(value = "0") {
            return parseInt(value).toLocaleString();
        },
        toBottom() {
            $("html, body").animate(
                { scrollTop: $(document).height() },
                "slow"
            );
        }
    },
    mounted() {
        this.$store.dispatch("home/getTransaction", this.$route.params.id);
    },
    computed: {
        getTransaction() {
            return this.$store.state.home.transactionDetail;
        },
    }
};
</script>

<style></style>
